.home-page{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../public/assets/images/background.svg');
    background-position: 0;
    background-repeat: no-repeat;
    background-size: 100%;
    

}
.home{
    display: flex;
    flex-direction: column;
    align-items: center;


}
.txt{
    font-size: 3em;
}
.txt1{
    font-size: 1.3em;
    margin: 0;
    
}
.exericios{
    margin: 1em;
    font-size: 1.3em;
    background-color: red;
    border-radius: 20px;
    text-decoration: none;
    color: inherit;
    padding: 5px 15px;
}
.exericios:hover{
    background-color: black;
    color: white;
    transition: 0.4s;
}
.txt2{
    font-size: 1.5em;
}
::selection{
    background-color: rgba(255, 0, 0, 0.753);
}